body {
    font-family: 'Ubuntu', sans-serif;
    background-color: cornsilk;
}

.content {
    margin-left: 100px;
}

p, ol {
    opacity: 0.6;
}

a, a:visited {
    color: cornflowerblue;
}

.top-navigation {
    background-color: blanchedalmond;
    overflow: hidden;
}

.top-navigation a:hover {
    background-color: lightgray;
}

.top-navigation a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.left-navigation {
    float: left;
}

.right-navigation {
    float: right;
}