{% extends 'public/base.html' %}
{% block content %}
<h1>About Page</h1>
<p>This website was created for two reasons:</p>
<p><ol>
    <li>As a project to help develop my command of web development, and in particular the Django web framework</li>
    <li>To build some simple web based tools to help with the cultivation of mindfulness</li>
</ol></p>
<h2>About Mindfulness</h2>
<p>Mindfulness is "the psychological process of purposely bringing one's attention to experiences occurring in the present moment without judgment" (<a href="https://en.wikipedia.org/wiki/Mindfulness">Wikipedia</a>).</p>
<p>It can be cultivated through meditative practices.</p>
<p>This website includes sections to track time spent meditating, and positive affirmations or experience.</p>
<h2>About the Tech Stack</h2>
<p>This website was created using Python 3.8 and Django 3.0.4 as the backend framework.</p>
<p>The front end was built with html, css and vanilla javscript.</p>
{% endblock %}